<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <h1>Choose Your Quiz</h1>
    </div>

    <div class="card-container">
      <a href="/quizanime/page1">
        <div class="card card1">
          <h3>Charcter From Image</h3>
          <p>Guess the character's name from the image.</p>
        </div>
      </a>

      <a href="/quizanime/page2">
        <div class="card card2">
          <h3>Anime name from Charcters</h3>
          <p>Guess the anime name from the name of the Charcters shown.</p>
        </div>
      </a>
    </div>
  </body>
</html>
