<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Quiz</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <!-- Sticky Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Anime Quiz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiz</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdigital.animemesse.de%2Fimg%2Fuploads%2Fprogram%2F51342fa5aa48df3f6790ac7c6526960c_Anime-Quiz.jpg&f=1&nofb=1&ipt=9d3a52276572f3ce26d0dea9a03c49af0c261ebb68803de95643b9b8ddcd16a0&ipo=images" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anime Quiz 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVZDTli_7frQ%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=3170a7904a1fe4c25615104d8627678aca12ec408852aa13aab57e9f106804a8&ipo=images" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anime Quiz 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FuLCOi_S406Q%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=9d690b02cd2a8fe9b28fb9519baade90719a1f98e6351895ac01d5fda89061f8&ipo=images" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anime Quiz 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FwMWI_Cs2iWE%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=3f74dcd1d70621f18d8a07d1efc8cd9912834d6bfd2049a796f397858281049f&ipo=images" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anime Quiz 4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
